rect.panelo {
    stroke: none;
    fill: silver;
    pointer-events: all;
    cursor: pointer;
}

.krado rect {
    stroke-width: 0.5;
    stroke: gray;
    fill: none;
    stroke-dasharray: 3,3;
}

.menuo rect {
    fill: rgb(101, 186, 197);
    stroke-width: 0.5;
    stroke: gray;
}

.menuo rect.butono {
    fill: rgb(255, 222, 160);
    pointer-events: all;
    cursor: pointer;
}

.menuo text {
    font-size: 8pt;
    text-anchor: middle;
    dominant-baseline: middle;
    /* plusendu klakojn al la rektangulo de la butono */
    pointer-events: none;
    cursor: pointer;
}

.logikplato .plato {
    fill: rgb(181, 232, 255);
    stroke-width: 0.5;
    stroke: gray;
    pointer-events: all;
    cursor: pointer;
}

.logikplato .plato.markita {
    stroke-width: 1.5;
    stroke: darkred;
    stroke-dasharray: 5,2;
}

.logikplato rect {
    stroke: black;
    fill: none;
}

.logikplato path {
    stroke: black;
    stroke-linecap: round;
    fill: none;
}

.logikplato line {
    stroke: black;
    stroke-linecap: round;
    fill: none;
}

.logikplato circle {
    stroke: black;
    fill: none;
}


.logikplato text.for {
    pointer-events: all;
    cursor: pointer;
    font-size: 4pt;
}

.logikplato line.maso {
    stroke: black;
    stroke-linecap: butt;
    stroke-width: 2;
}

.eniroj circle {
    pointer-events: all;
    cursor: pointer;    
}

.eniroj text {
    font-size: 10pt;
    pointer-events: none;
    cursor: pointer;    
}

.relajso .kerno {
    fill: none;
    stroke: black;
    stroke-dasharray: 5,2;
}

.relajso text {
    font-size: 10pt;
}

.aktiva .kontakto {
    fill: red;
}

.lumo circle {
    cursor: pointer;
    fill: #882222;
}


.aktiva .lumo circle {
    fill: #ff2222;
    /* difinenda en SVG <defs>! */
    fill: url(#helrugho);
}

.lumo text {
    font-size: 5pt;
    text-anchor: middle;
    dominant-baseline: middle;
}    

